.navbar {
	width: 100%;
	&-container {
		background: $color-principal;
		display: flex;
		justify-content: space-evenly;
		span {
			display: flex;
			width: 13rem;
			h3 {
				padding-top: 1rem;
				padding-left: 0.5rem;
			}
		}
	}
	&-UL {
		margin: 1rem;
		padding: 0;
		a {
			margin: 1rem;
			text-decoration: none;
			color: $color-letra-nav-a;
		}
	}
}

.me {
	background: $color-principal;
	margin: 0;
	padding: 2rem 5rem 1rem 9rem;
	display: flex;
	justify-content: space-around;
	&-Title {
		margin-top: 6rem;
		margin-left: 3rem;
		text-align: left;
		p {
			width: 50rem;
			font-size: 1rem;
			margin-bottom: 0.3rem;
		}
		a {
			text-decoration: none;
			margin-right: 0;
			color: $color-letra-nav-a;
			span {
				line-height: 0.1rem;
				margin-left: 0.2rem;
				padding-left: 2rem;
				padding-top: 0.2rem;
				background: transparent url('../utils/Arrow.svg') no-repeat top left;
			}
		}
	}
	&-img {
		width: 16rem;
		height: 16rem;

		img {
			border-radius: 50%;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
